@model  PruebaGit.Web.Models.SendEmail

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container" style="font-family:Montserrat;">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-header text-center mt-1 p-2 bg-primary text-light">Agregar Doctores</h2>
                    @*Se relaciona con el metodo de agregar del controlador*@
                <form action="@Url.Action("Index")" class="text-center p-1" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    @*Agregamos los botones para llenar los campos*@
                    <input type="email" name="To" placeholder="Para:" class="form-control col-md-12" />
                    <br />
                    <input type="text" name="Subject" placeholder="Titulo:" class="form-control col-md-12" />
                    <br />
                    <input type="text" name="Body" placeholder="Escribe un mensaje:" class="form-control col-md-12" />
                    <br />

                    <p>Marca para enviar archivo <input type="checkbox" name="verificar" value="verificado" /></p>

                    <input type="file" name="fichero" placeholder="Marca"/>
                    <br />
                    <input type="submit" value="Enviar Correo" class="btn btn-facebook" />
                </form>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>